body{
     margin:0;
     background-color:white;
}
.top{
background-image:url(images/floral.jpg);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
margin : 5% 5% 5% 5%;
width: 80%;
height:90%;
padding:30px;
text-align: center;
border:hidden;
border-width: 10px;
border-color:antiquewhite;
display: inline-block;

}
h1{
font-size: 60px;
font-family:Arial, Helvetica, sans-serif;
color:black;
margin-top:200px;
margin-bottom:0px;
margin-left:580px;
}
h3{
font-size:20px;
margin:10px auto 0 560px;
font-family: Arial, Helvetica, sans-serif;
color:black;
}
.contact{
     font-size: 25px;
     position:relative;
     top: 70px;
     left:910px;
     color:pink;
     text-decoration: none;
}
.about{
     font-size:25px;
     position: relative; 
     top: 70px;  
     left: 850px;
     color:pink;
     text-decoration: none;
}
.cv{
     font-size:25px;
     position: relative;
     top: 70px; 
     left:870px;   
     color:pink;
     text-decoration: none;
}
.certificate{
     font-size:25px;
     position: relative;
     top: 70px;
     left: 890px;
     color:pink;
     text-decoration: none;
}
a:hover{
     color:black;
}